<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"	
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean id="tyreBean" class="example.spring.core.Tyre">
<property name="make" value="BrideStone"/>
<property name="type" value="Tubeless"/>
  
  </bean>
  <bean id="tyreBean2" class="example.spring.core.Tyre" primary="true">
<property name="make" value="DunLop"/>
<property name="type" value="Tubeless"/>
  
  </bean>
   
   
   <bean id="engineBean" class="example.spring.core.Engine">
  <property name="type" value="Diesel"/>
  <property name="power" value="2600 cc"/>
  </bean>
  
  <bean id="carBean" class="example.spring.core.Car" autowire="byType">
  <property name="carId" value="C01"/>
  <property name="make" value="Toyota"/>
  <property name="model" value="Innova"/>
  <!-- Not injecting value for properties: tyreDetails and engineDetails -->
  <!-- Using Auto Wiring for them -->
  
  </bean>
  
   
</beans>